<h3>Show Data</h3>

   <div class="form-group row">
    <div class="card-text"><%= @article.id %></div>
        <div class="card-text"><%= @article.description %></div>
       
      <%= image_tag @article.image %>
    </div>

